@{
    ViewData["Title"] = "Email Confirmed";
}

<h2>@ViewData["Title"]</h2>
<h4>Your email has been confirmed.</h4>
<hr />

<p>
    Thank you for confirming your email. Please <a asp-controller="Account" asp-action="Login">click here to log in</a>.
</p>
