@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h2>@ViewData["Title"]</h2>

<form id="login-form" method="post" asp-controller="Account" asp-action="Login">
    <div>
        <label asp-for="Email">Email</label>
        <input asp-for="Email" type="email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password">Password:</label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="RememberMe">Remember me?</label>
        <input asp-for="RememberMe" type="checkbox" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Login</button>
    </div>

</form>

