@model IEnumerable<EmployeeManagementSystem.Models.Notification>

@{
    ViewData["Title"] = "Admin Notifications";
}

<h1>Admin Notifications</h1>

<table class="table">
    <thead>
        <tr>
            <th>Message</th>
            <th>Date</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var notification in Model)
        {
            <tr>
                <td>@notification.Message</td>
                <td>@notification.Timestamp.ToString("yyyy-MM-dd HH:mm:ss")</td>
                <td>@(notification.IsViewed ? "Viewed" : "Unviewed")</td>
                <td>
                    @if (!notification.IsViewed)
                    {
                        <form asp-controller="AdminNotifications" asp-action="MarkAsViewed" method="post">
                            <input type="hidden" asp-for="@notification.Id" name="id" />
                            <button type="submit" class="btn btn-primary">Mark as Viewed</button>
                        </form>

                    }
                </td>
            </tr>
        }
    </tbody>

</table>
