@model EmployeeManagementSystem.Models.CalendarEvents

<form asp-controller="Home" asp-action="AddEvent" method="post">
    <div>
        <label>Title</label>
        <input asp-for="EventTitle" />
        <span asp-validation-for="EventTitle"></span>
    </div>
    <div>
        <label>Start Date</label>
        <input asp-for="Start" type="datetime-local" />
        <span asp-validation-for="Start"></span>
    </div>
    <div>
        <label>End Date</label>
        <input asp-for="End" type="datetime-local" />
        <span asp-validation-for="End"></span>
    </div>
    <button type="submit">Add Event</button>
</form>
