@using Microsoft.AspNetCore.Identity
@using EmployeeManagementSystem.Data
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject ApplicationDbContext DbContext

@if (SignInManager.IsSignedIn(User))
{
    var userId = UserManager.GetUserId(User);
    var userProfile = DbContext.UserProfiles.FirstOrDefault(up => up.UserId == userId);
<ul class="navbar-nav">
    <li class="nav-item">
        <span class="navbar-text">Welcome, @(userProfile?.FirstName)!</span>
    </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Profile" asp-action="Details" asp-route-id="@userId">
                <img src="~/images/profile_icon.png" alt="Profile" width="25" height="25" />
            </a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-controller="Account" asp-action="Logout" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    </ul>
}
else
{
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    </ul>
}


