@{
    ViewData["Title"] = "Admin Home Page";
}

<h2>@ViewData["Title"]</h2>

<a asp-controller="Profile" asp-action="AllStaff" class="btn btn-primary">View All Staff Profiles</a>

<p>Welcome to the admin home page.</p>
