@model LeaveRequest

<h2>Leave Request Confirmation</h2>

<p>Your leave request has been submitted.</p>

<p>Leave Request Details:</p>

<ul>
    <li>Leave Type: @Model.LeaveType</li>
    <li>Start Date: @Model.StartDate.ToShortDateString()</li>
    <li>End Date: @Model.EndDate.ToShortDateString()</li>
</ul>

<p>Please wait for your request to be approved by your manager.</p>

